<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary Book</title>
</head>
<body>
    {{!-- similar to ejs %, need 2 for js function need 3 {} to parse html --}}
    {{{body}}}
</body>
</html>